/* .airport-picker{
    background-color: red;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: 0;
} */

/* drop down */
.airport-picker {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    top: 134px;
    left: 144px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
  .airport-picker:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .airport-picker:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .airport-picker:has(.options input[type="radio"]#Agadir:checked) .selected::before {
    content: attr(data-default);
  }
  .airport-picker:has(.options input[type="radio"]#Paris:checked) .selected::before {
    content: attr(data-one);
  }
  .airport-picker:has(.options input[type="radio"]#NewYork:checked) .selected::before {
    content: attr(data-two);
  }
  .airport-picker:has(.options input[type="radio"]#London:checked) .selected::before {
    content: attr(data-three);
  }
  


/* flights log */

.log-contianer{
  position: relative;
  display: flex;
  border-radius: 10px;
  border-color: red;
  width: 400px;
  margin-left: auto;
}

.card {
  --white: hsl(270, 100%, 14%);
  --black: hsl(240, 15%, 9%);
  --paragraph: hsl(285, 100%, 16%);
  --line: hsl(240, 9%, 17%);
  --primary: hsl(189, 92%, 58%);
  
  position: relative;

  max-height: 500px;
  overflow-y: auto; /* Keep vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling completely */

  /* Remove the background of the vertical scrollbar */
  scrollbar-color: transparent transparent; /* Firefox */
  scrollbar-width: thin; /* Firefox */
    display: flex;
    flex-direction: column;
    gap: 1rem;
  
    padding: 1rem;
    width: 19rem;
    background-color: hsla(240, 15%, 9%, 1);
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
      ),
      radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
      radial-gradient(at 0% 64%, hsl(250, 95%, 16%) 0px, transparent 85%),
      radial-gradient(at 41% 94%, hsl(268, 96%, 18%) 0px, transparent 85%),
      radial-gradient(at 100% 99%, hsl(273, 94%, 13%) 0px, transparent 85%);
  
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
  }
  .card .line {
    width: 100%;
    height: 0.1rem;
    background-color: var(--line);
  
    border: none;
  }
  .card .card_title__container .card_title {
    font-size: 1.2rem;
    color: rgb(186, 126, 250);
    font-family: sans-serif;
  }

  .card::-webkit-scrollbar {
    width: 8px; /* Adjust the width of the scrollbar */
  }
  
  .card::-webkit-scrollbar-track {
    background: transparent; /* Make track transparent */
  }
  
  .card::-webkit-scrollbar-thumb {
    background: transparent; /* Make the thumb transparent */
  }
  .card .card__border {
    overflow: hidden;
    pointer-events: none;
  
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
  
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-image: linear-gradient(
      0deg,
      hsl(0, 0%, 100%) -50%,
      hsl(0, 0%, 40%) 100%
    );
  
    border-radius: 1rem;
  }
  
  .card .card__list {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    position: relative;
    left: -45px;
  }
  
  .card .card__list .card__list_item {
    display: flex;
    align-items: center;
  }
  
  .card .card__list .card__list_item .check {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 1.5rem;
    height: 1.5rem;
  
    border-radius: 20%;
  }
  
  .card .card__list .card__list_item .check .check_svg {
    width: 1.75rem;
    height: 1.75rem;
  
    fill: var(--black);
    
  }
  
  .card .card__list .card__list_item .list_text {
    font-size: 0.9rem;
    font-family: system-ui;
    color: rgb(111, 217, 239);
  }





  .list_text {
    display: inline-block;
  }
  
  .progress {
    position: relative;
    margin-left: auto;
    left: 50px;
  }
  