/* .airport-picker{
    background-color: red;
    position: relative;
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: 0;
} */

/* drop down */
.airport-picker {
    width: fit-content;
    cursor: pointer;
    position: relative;
    transition: 300ms;
    color: white;
    overflow: hidden;
    top: 134px;
    left: 144px;
    font-family: "Gill Sans", sans-serif;
  }
  
  .selected {
    background-color: #2a2f3b;
    padding: 5px;
    margin-bottom: 3px;
    border-radius: 5px;
    position: relative;
    z-index: 100000;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .arrow {
    position: relative;
    right: 0px;
    height: 10px;
    transform: rotate(-90deg);
    width: 25px;
    fill: white;
    z-index: 100000;
    transition: 300ms;
  }
  
  .options {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    padding: 5px;
    background-color: #2a2f3b;
    position: relative;
    top: -100px;
    opacity: 0;
    transition: 300ms;
  }
  
  .airport-picker:hover > .options {
    opacity: 1;
    top: 0;
  }
  
  .airport-picker:hover > .selected .arrow {
    transform: rotate(0deg);
  }
  
  .option {
    border-radius: 5px;
    padding: 5px;
    transition: 300ms;
    background-color: #2a2f3b;
    width: 150px;
    font-size: 15px;
  }
  .option:hover {
    background-color: #323741;
  }
  
  .options input[type="radio"] {
    display: none;
  }
  
  .options label {
    display: inline-block;
  }
  .options label::before {
    content: attr(data-txt);
  }
  
  .options input[type="radio"]:checked + label {
    display: none;
  }
  
  .options input[type="radio"]#all:checked + label {
    display: none;
  }
  
  .airport-picker:has(.options input[type="radio"]#Agadir:checked) .selected::before {
    content: attr(data-default);
  }
  .airport-picker:has(.options input[type="radio"]#Paris:checked) .selected::before {
    content: attr(data-one);
  }
  .airport-picker:has(.options input[type="radio"]#NewYork:checked) .selected::before {
    content: attr(data-two);
  }
  .airport-picker:has(.options input[type="radio"]#London:checked) .selected::before {
    content: attr(data-three);
  }
  